body {
  font-size: 100%;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: var(--azul-palido-escuro);
  height: 520px;
  min-width: 250px;
  max-width: 380px;
  margin: 0 1.3em 0 1.3em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 65%;
  grid-template-areas: "image" "conteudo";
  gap: 0.8em;
  border-radius: 0.4em;
}
.card-ima {
  grid-area: image;
  background-image: url("../images/image-header-mobile.jpg");
  background-size: cover;
  height: 100%;
  border-radius: 0.4em 0.4em 0 0;

  .colorover{
    width: 100%;
    height: 100%;
    border-radius: 0.4em 0.4em 0 0;
    background-color: hsl(286deg 100% 29%);
    opacity: 0.5;
  }
}
.card-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: conteudo;
  text-align: center;
  padding: 0px 10px 0 10px;
  color: white;
  
  a {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
  }
  span {
    color: var(--violeta-clara);
    font-weight: 700;
  }
  p {
    color: var(--branco-pouco-transparent-cabeca);
    font-size: 0.7em;
    font-weight: 400;
  }
}
.card-stats {
  span {
    font-size: 1.5em;
    color: white;
  }
  p {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.8em;
  }
}

@media (min-width: 40em) {
  .card-ima {
    background-image: url("../images/image-header-desktop.jpg");
    background-size: cover;
    grid-area: image;
    border-radius: 0 7px 7px 0;
    height: 100%;
  }
  .colorover {
    border-radius: 0 7px 7px 0;
  }
  .card-conteudo {
    text-align: left;
    grid-area: conteudo;
    padding: 15%;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-between;

    .textoMid {
      margin: 0;
      font-size: 0.6;
    }
    .card-stats {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .statsI {
        width: min-content;
      }
    }
  }
  .card {
    max-width: none;
    width: 640px;
    height: 300px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "conteudo image";
  }
}
