:root{
    //Primárias
    --very-dark-blue: hsl(233, 47%, 7%);
    --azul-palido-escuro: hsl(244, 38%, 16%);
    --violeta-clara: hsl(277, 64%, 61%);
    //Neutras
    --branco: white;
    --branco-pouco-transparente: hsla(0, 0%, 100%, 0.75);
    --branco-pouco-transparent-cabeca: hsla(0, 0%, 100%, 0.6);
}